<div id='comment-box'>
  <form action="/comments/<%= @peep.id %>" method='post'>
    Message:<br>
    <textarea class="styled" name="message"></textarea><br>
    <input type="submit" value='Post Comment' class='comment-buttons' id='post-comment'>
    <a href="/" class='comment-buttons' id='special-height'>Cancel</a>
  </form> 
</div>

<a href="/" class='homepage-button'></a>
