<!DOCTYPE html>
<html>
  <head>
    <title>Guillaume 's Chitter</title>
  </head>

  <body>
  This is Guillaume's Chitter
  <br><br>
  <a href="/peeps/new"><button>New Peep</button></a>
  <br><br>
    <div>
      <ul>
        <% @peeps.each do |peep| %>
          <li><%= peep.message %><br>

            <a href="/peeps/<%= peep.id %>"><button>Update Peep</button></a>

            <form action="/peeps/<%= peep.id %>" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="Delete Peep">
              </form>
          </li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
