body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 15px;
  line-height: 21px;
  background-image: url(/images/chitter_background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  color: #000068;  
}

a {
  text-decoration: none;
}

img.logo {
    display: block;
    margin: auto
}

header {  
  height: 50px;
  background:rgba(0,0,0,0.5);
  color: white;
  display: flex;
  padding: 0 20px;
  border-color: black;
  border-style: solid;
}

#user-links {
  flex: 1;
  -webkit-flex: 1;
  text-align: right;  
}

#welcome-message {
  font-size: 24px;
  text-shadow: 4px 4px 4px #aaa;
}

#user-links > * {
  display: inline-block;
}

header > * {
  margin: auto 0;
}

.button {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #26e6ff), color-stop(1, #39d5f0));
	background:-moz-linear-gradient(top, #26e6ff 5%, #39d5f0 100%);
	background:-webkit-linear-gradient(top, #26e6ff 5%, #39d5f0 100%);
	background:-o-linear-gradient(top, #26e6ff 5%, #39d5f0 100%);
	background:-ms-linear-gradient(top, #26e6ff 5%, #39d5f0 100%);
	background:linear-gradient(to bottom, #26e6ff 5%, #39d5f0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#26e6ff', endColorstr='#39d5f0',GradientType=0);
	background-color:#26e6ff;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	border:3px solid #8fd6ff;
	display:inline-block;
	cursor:pointer;
	color:#fffee3;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 14px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
    margin-left: 20px;
    margin-right: 20px;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #39d5f0), color-stop(1, #26e6ff));
	background:-moz-linear-gradient(top, #39d5f0 5%, #26e6ff 100%);
	background:-webkit-linear-gradient(top, #39d5f0 5%, #26e6ff 100%);
	background:-o-linear-gradient(top, #39d5f0 5%, #26e6ff 100%);
	background:-ms-linear-gradient(top, #39d5f0 5%, #26e6ff 100%);
	background:linear-gradient(to bottom, #39d5f0 5%, #26e6ff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#39d5f0', endColorstr='#26e6ff',GradientType=0);
	background-color:#39d5f0;
}
.button:active {
	position:relative;
	top:1px;
}

.new-peep-button {
	-moz-box-shadow: 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow: 0px 1px 0px 0px #bbdaf7;
	box-shadow: 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec5c), color-stop(1, #fce056));
	background:-moz-linear-gradient(top, #ffec5c 5%, #fce056 100%);
	background:-webkit-linear-gradient(top, #ffec5c 5%, #fce056 100%);
	background:-o-linear-gradient(top, #ffec5c 5%, #fce056 100%);
	background:-ms-linear-gradient(top, #ffec5c 5%, #fce056 100%);
	background:linear-gradient(to bottom, #ffec5c 5%, #fce056 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec5c', endColorstr='#fce056',GradientType=0);
	background-color:#ffec5c;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	border-radius:25px;
	border:3px solid #8585f2;
	display:inline-block;
	cursor:pointer;
	color:#0077ff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:2px 14px;
	text-decoration:none;
	text-shadow:0px -1px 0px #528ecc;
	margin-left: 20px;
    margin-right: 20px;
}
.new-peep-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fce056), color-stop(1, #ffec5c));
	background:-moz-linear-gradient(top, #fce056 5%, #ffec5c 100%);
	background:-webkit-linear-gradient(top, #fce056 5%, #ffec5c 100%);
	background:-o-linear-gradient(top, #fce056 5%, #ffec5c 100%);
	background:-ms-linear-gradient(top, #fce056 5%, #ffec5c 100%);
	background:linear-gradient(to bottom, #fce056 5%, #ffec5c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fce056', endColorstr='#ffec5c',GradientType=0);
	background-color:#fce056;
}
.new-peep-button:active {
	position:relative;
	top:1px;
}

.peep {
  background-image: url(/images/peeps_background.jpg);
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px 10px;
  border: 2px solid #1900BC;
  border-radius:10px;
  min-height: 52px;
}

.peep_message {
  font-family:Helvetica;
}
.peep_posted_by {
  font-size:11px;
  color: #00009E;
}

#bottom-update {
  margin-top: 10px;
}

#color-update {
  color: #875A00;
}

.peep-button {
	vertical-align: top
	-moz-box-shadow: 0px 1px 0px 0px #1c1b18;
	-webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffbf00), color-stop(1, #fff8e5));
	background:-moz-linear-gradient(top, #ffbf00 5%, #fff8e5 100%);
	background:-webkit-linear-gradient(top, #ffbf00 5%, #fff8e5 100%);
	background:-o-linear-gradient(top, #ffbf00 5%, #fff8e5 100%);
	background:-ms-linear-gradient(top, #ffbf00 5%, #fff8e5 100%);
	background:linear-gradient(to bottom, #ffbf00 5%, #fff8e5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbf00', endColorstr='#fff8e5',GradientType=0);
	background-color:#ffbf00;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:2px solid #2600ff;
	display:inline-block;
	cursor:pointer;
	color:#0015ff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:3px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    margin-left: 15px;
    margin-right: 15px;
}
.peep-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff7f29), color-stop(1, #faad3a));
	background:-moz-linear-gradient(top, #ff7f29 5%, #faad3a 100%);
	background:-webkit-linear-gradient(top, #ff7f29 5%, #faad3a 100%);
	background:-o-linear-gradient(top, #ff7f29 5%, #faad3a 100%);
	background:-ms-linear-gradient(top, #ff7f29 5%, #faad3a 100%);
	background:linear-gradient(to bottom, #ff7f29 5%, #faad3a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7f29', endColorstr='#faad3a',GradientType=0);
	background-color:#ff7f29;
	color:#000BA6;
}
.peep-button:active {
	position:relative;
	top:1px;
}

.peep-buttons {
  float: right;
}

#delete-peep {
  line-height: 20px
}

a.homepage-button {
  background-image: url(/images/home-button.png);
  width: 120px; height: 120px;
  background-size: 100% 100%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.peep-of-the-page {
  background-image: url(/images/peeps_background.jpg);
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px 10px;
  border: 2px solid #1900BC;
  border-radius:10px;
  min-height: 52px;
}

#comments {
  background-image: url(/images/comments_background.jpg);
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px 10px;
  border: 2px solid #1900BC;
  border-radius:10px;
  min-height: 52px;
  color: #875A00;
}

#new-comment {
  float: right;
  margin-top: -10px;
  margin-right: -1px;
}
