body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 15px;
  line-height: 21px;
  text-shadow: 4px 4px 4px #aaa;
  background-image: url(/images/chitter_background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  color: #E6F1FF;  
}

img.logo {
    display: block;
    margin: auto
}

header {  
  height: 50px;
  background:rgba(0,0,0,0.5);
  color: white;
  display: flex;
  padding: 0 20px;
  border-color: black;
  border-style: solid;
}

header #user-links {
  flex: 1;
  -webkit-flex: 1;
  text-align: right;  
}

#welcome-message {
  font-size: 24px;
}

#user-links > * {
  display: inline-block;
}

header > * {
  margin: auto 0;
}