<div class='peep-comment-box' id='peep-box'>
  <form action='/peeps' method='post'>
    Message: <br>
    <textarea class="styled" name="message"></textarea><br>
    <input type="submit" value='Post Peep' class='peep-buttons' id='post-peep'>
    <a href="/" class='peep-buttons' id='special-height2'>Cancel</a>
  </form> 
</div>

<a href="/" class='homepage-button'></a>
