<div class='peep-comment-box' id='peep-box'>
  <form action="/peeps/<%= @peep.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    Message: <br>
    <textarea class="styled" name="message"><%= @peep.message %></textarea> 
    <input type="submit" value="Update"class='peep-buttons' id='post-peep'>
    <a href="/" class='peep-buttons' id='special-height2'>Cancel</a>
  </form> 
</div>

<a href="/" class='homepage-button'></a>
