<% if flash[:errors] && !flash[:errors].empty? %>
  Sorry, there were the following problems with your registration:
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
      <li class='flash'><%= error %></li>
    <% end %>
  </ul>
 <% end %>
<% if flash[:notice] %>
  <div class='flash'>
    <%= flash[:notice] %>
  </div>
<% elsif flash[:success] %>
  <div class='alert'>
    <%= flash[:success] %>
  </div>
<% end %>