<div>
  <form action="/peeps/<%= @peep.id %>" method="post">
    <input type="hidden" name="_method" value="put">
    Message: <textarea name="message"><%= @peep.message %></textarea> 
    <input type="submit" value="Update">
  </form> 
</div>

<a href="/"><button>Cancel</button></a>